.card {
    width: 80px;
    height: 115px;
    border: 1px black solid;
    user-select: none;

    border-radius: 4px;
    cursor: pointer;
}

.face {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

@media screen and (max-width:480px) {
    .card {
        width: 40px;
        height: 55px;
    }
    
    .face {
        height: 32px;
    }
}



.clovers .front, .spades .front {
    color: gray;
}

.hearts .front {
    color: red;
}

.diamonds .front {
    color: yellow;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.back {
    height: 100%;
    border: 2px solid white;
    border-radius: 4px;
}
.front {
    height: 100%;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
}
