<div class="flex-row">
  <div class="flex-column">
    <div class="stack-no-cards"></div>
  </div>
  <div class="flex-column">
    <app-card-stack [cards]="top"></app-card-stack>
  </div>
  <div class="flex-column">
    <div class="stack-no-cards"></div>
  </div>
</div>
<div class="flex-row">
  <div class="flex-column">
    <app-card-stack [cards]="left"></app-card-stack>
  </div>
  <div class="flex-column">
    <app-card-stack [cards]="middle"></app-card-stack>
  </div>
  <div class="flex-column">
    <app-card-stack [cards]="right"></app-card-stack>
  </div>
</div>
<div class="flex-row">
  <div class="flex-column">
    <div class="stack-no-cards"></div>
  </div>
  <div class="flex-column">
    <app-card-stack [cards]="bottom"></app-card-stack>
  </div>
  <div class="flex-column">
    <div class="stack-no-cards"></div>
  </div>
</div>
