.flex-row {
    display: flex;
}

.flex-column {
    padding: .25em;
}


.stack-no-cards {
    border-style:none;
    width: 130px;
}

@media screen and (max-width: 480px) {
    .flex-column {
        padding: 0.5em;
    }


    .stack-no-cards {
        border-style:none;
        width: 65px;
    }
}

button {
    font-family: courier;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 4px;

    cursor: pointer;
    font-size: 1em;
}

.floor {
}

@media screen and (max-height: 900px) {
    .floor {
        overflow-y: scroll;
        height: 400px;
    }
}

@media screen and (max-width: 480px) {
    .floor {
        overflow-y: scroll;
        height: 220px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.fade_in_animation {
    animation: fade-in 1s;
}
