body {
    background-color:black;
    color:white;
}


@keyframes damage {
    0%, 100% {
        background-color:black;
    }
    50% {
        background-color:red;
    }
}

@keyframes shield {
    0%, 100% {
        background-color:black;
    }
    50% {
        background-color:yellow;
    }
}

.log {
    overflow-y: scroll;
    height: 64px;
    border: 1px solid white;

    width: 256px;
}

.log p {
    padding: 0px;
    margin: 0px;
}

.flex-row {
    display: flex;
}

.flex-row div {
    margin-right: 1em;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.damage_animation {
    animation: damage 0.25s;
}

.shield_animation {
    animation: shield 0.25s;
}
