.log {
    overflow-y: scroll;
    height: 64px;
    border: 1px solid black;

    width: 256px;
}

.log p {
    padding: 0px;
    margin: 0px;
}

.flex-row {
    display: flex;
}

.flex-row div {
    margin-right: 1em;
}
